.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App .field-label .label {
  font-size: 16px;
}

.App .field-label, .App .field-body {
  flex-grow: 1;
}

.App .field {
  align-items: center;
}

.App .placeholder {
  background: rgba(50, 115, 220, .3);
}

.App .placeholder:before {
    content: "Drop here";
    color: rgba(255, 255, 255, .3);
  }
